$White: #ffffff;
$Black: #030303;
$Tundora: #434343;
$SuvaGray: #868586;
$Saffron: #f3b329;
$Pumice: #bec6be;
$BlueLagoon: #027986;
$CornHarvest: #936c0f;
$FountainBlue: #51bfc7;
$AlizarinCrimson: #d61a2a;
$DawnPink: #f3ece3;
$CodGray: #1d1c1a;
$Pewter: #96a4a3;
$OsloGray: #86888e;
$AnzacVibrant: #e1aa40;
$ScorpionMuted: #5b5b5b;
$KeppelDarkVibrant: #3da698;
$MerlinDarkMuted: #453e39;
$TanLightVibrant: #d5ad91;